<div>

  <div *ngFor="let i of news; let a =index">
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{a}}.{{i.source.name}}</ion-card-subtitle>
        <div class="noticia-more">
          <ion-button (click)="lanzarMenu(i)"  fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-card-title (click)='openBrowser(i.url)'>{{i.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img (click)='openBrowser(i.url)' [src]="i.urlToImage"></ion-img>
        <p>{{i.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  
