<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]='currentCategory' (ionChange)="segmentChanged($event)" >
  <ion-segment-button *ngFor="let i of segments" value={{i}}>
    <ion-label>{{i}}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <app-noticias [news]='news' [loadData]='loadData' [numPage]='numPage' [currentCategory]='currentCategory'></app-noticias>
</ion-content>
